<% provide(:title, 'Edit List') %> 
<h1>Update list</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@list) do |f| %>
<!--      <%= #render 'fields', f: f %> -->
      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>