<% provide(:title, 'New List') %>
<h1>New List</h1>

<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header" data-original-title>
		</div>
		<div class="box-content">
    		<%= form_for @list, :html => {:multipart => true, :class => "form-horizontal" }  do |f| %>
    		<fieldset>
				<div class="control-group">
					<label class="control-label" for="focusedInput">List Name</label>
					<div class="controls">
						<div class="input-xlarge focused" id="focusedInput" type="text">
							<%= f.text_field :name, :placeholder => "Give the list a name..." %>
						</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="focusedInput">List Description</label>
					<div class="controls">
						<div class="input-xlarge focused" id="focusedInput" type="text">
							<%= f.text_field :description, :placeholder => "Provide a short description..." %>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<%= f.submit "Create", class: "btn btn-primary" %>
				</div>
			</fieldset>
		<% end %>
	</div><!--/span-->
</div><!--/row-->