<% provide(:title, 'About Us') %>

<div class="well">
	
	<h1>About us</h1>
	<p class="lead">
		Kilómetro Siete is designed to facilitate the organization and reporting problems or faults on public property such as holes in the roads, broken pipe, faulty streetlights, vandalism and more. The system consists of two applications, one is the first Android phone application in which you take a picture of the damage and sent to a central server to be reported. The second application is a web application which can be seen graphically locating faults on an interactive map. You can also see a list of faults with the relevant information to each.
	</p>

	<p class="lead">
		The purpose of this system is to provide the mayors of each municipality of Puerto Rico a way to organize public ownership failure to make the repair process a faster and efficient at the same time it increases the welfare of citizens.
	</p>

	<p class="lead">
		The system is being developed by Stefan Caparrós, Gabriel Perez and Richard Kaufman as part of Tecno Caribbean and University System Ana G. Mendez.
		Both young people are graduates of Computer Engineering of Mayagüez Campus. Gabriel is in charge of the development of mobile aplicaión Android platform and Stefan is responsible for developing the web application.
	</p>

	<p class="lead">
		For more about us and the system information visit <a href="http://localhost/kilometrosiete">Kilómetro Siete

</div>