<% provide(:title, 'Nosotros') %>

<div class="well">
	
	<h1>ANosotros</h1>
	<p class="lead">
		Kilómetro Siete está diseñado para facilitar la organización y reporte de problemas ó fallas en la propiedad pública como lo son huecos en las carreteras, tubería rota, postes de alumbrado defectuosos, vandalismo entre otros. El sistema consiste de dos aplicaciones, la primera una es aplicación para teléfonos Android mediante la cual se toma una fotografía de la avería y se envía a un servidor central para ser reportada. La segunda aplicación es una aplicación web mediante la cual se puede ver gráficamente la localización de las averías en un mapa interactivo. También se puede ver un listado de las averías con la información pertinente a cada una.
	</p>

	<p class="lead">
		El propósito de este sistema es proveerle a los alcaldes de cada municipio de Puerto Rico una manera de organizar las fallas en la propiedad pública para hacer el proceso de reparación uno más rápido y eficiente a la misma vez que se aumenta el bienestar de los ciudadanos.
	</p>

	<p class="lead">
		El sistema está siendo desarrollado por Stefan Caparrós, Gabriel Perez y Richard Kaufman como parte de Tecno Caribe y el Sistema Universitario Ana G. Mendez.
		Ambos jóvenes son graduados de Ingeniería en Computadoras del Recinto Universitario de Mayagüez. Gabriel está a cargo del desarrollo de la aplicaión móvil en la plataforma Android y Stefan está encargado de desarrollar la aplicación de web.
	</p>

	<p class="lead">
		Para más sobre nosotros y el sistema visite la página de información <a href="http://localhost/kilometrosiete">Kilómetro Siete</a></p>.


</div>