<% provide(:title, 'Contacto') %>

<div class="well">
	<h1>Contacto</h1>
	<address> 
		<strong>Kilómetro Siete:</strong>
		<br>
		<abbr title="Phone">P:</abbr>
		(787) 743-7979 ext. 4413
	</address>

	<address>
		<strong>Stefan Caparrós</strong>
		<br>
		<a href="mailto:#">stefan@tecnocaribe.com</a>
		<br>
		<strong>Richard Kaufman</strong>
		<br>
		<a href="mailto:#">richard@tecnocaribe.com</a>
		<br>
		<strong>Gabriel Perez</strong>
		<br>
		<a href="mailto:#">tecnocaribe@gmail.com</a>
		<br>
	</address>

</div>
