<div class="center hero-unit">
<%= image_tag("km7logo1.png", alt: "km7") %>
  <h1>Bienvenido a Km7</h1>

  <h2>
    Ésta es la versión nueva la aplicación
    <a href="http://www.km-7.com/">Kilómetro Siete</a>
     .
  </h2>

  <%= link_to "Registrar", signin_path, class: "btn btn-large btn-primary" %>
</div>

