<li>
  
  <img src="<%=problem.avatar.url(:thumb) %>">
  Reporte #<%= problem.id %>
  <%= link_to "detalles", problem %>


  <% if current_user.admin? %>
  	| <%= link_to "borrar", problem, method: :delete, data: { confirm: "Está seguro que quiere borrar este reporte?" } %>
  <% end %>
</li>
