<li>
  
  <img src="<%=problem.avatar.url(:thumb) %>">
  Reporte #<%= problem.id %>
  <%= link_to "Show", problem %>


  <% if current_user.admin? %>
  	| <%= link_to "Delete", problem, method: :delete, data: { confirm: "Are you sure you want to delete this report?" } %>
  <% end %>

</li>
