<% provide(:title, 'Problemas') %>
<h1>Problemas</h1>

<%= gmaps4rails(@json) %>      


<%= will_paginate %>

<ul class="users">
	<% @problems.each do |problem| %>
		<%= render @problems %>
	<% end %>
</ul>

<%= will_paginate %>