<% provide(:title, 'Edit Profile') %>
<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header" data-original-title>
			<h2><i class="icon-edit"></i><span class="break"></span>Edit Profile</h2>
		</div>
		<div class="box-content">
		    <%= form_for(@user) do |f| %>
		      <%= render 'update_fields', f: f %>
			<% end %>
		</div>
	</div><!--/span-->
</div><!--/row-->