<% provide(:title, 'Usuario Nuevo') %>
<h1>Usuario Nuevo</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Crear usuario", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>