
/*Main container extend to complete width*/
 /*added because this container appeared too slim in terms of width*/
.row-fluid .span10 {
  width:auto;
}

/*Created this row fluid box to use for main content boxes in the views centralized*/
.fluid-box {
width: 93%;
padding-left: 50px;
margin-top: -17px;
}

/*Tabs-----------------------------------------------------*/
/*These are a variation of perfectums stock tabs aligned at the top left side of the bounding box*/

.tab-menu.nav-tabs.tabs-lists {
/*added to fix tab placement in List index*/
	margin-left: 35px;
}

.tab-menu.nav-tabs.tabs-lists> li {
	float: left;
}

/*Navbar-------------------------------------------------------*/	
.nav > li > a:hover {
 	background-color: transparent;
 }

/*Make dashboard container span entire screen*/
 .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: auto;
padding-left: 50px;
padding-right: 28px;
}

 /*Login screen-------------------------------------------------------------------*/

 .login-box .input-prepend {	
	width: 86%;
}
 .login-box h2 {
   margin-left: 30px;
}

 .login-box .add-on {
   /*Added important to align login box icon-------------------------------------------*/
   margin-left: 10px;
   margin-right: -10px;
   padding: 10px;
}

/*Forms------------------------------------------------------------------------*/
.form-search input, .form-search textarea, .form-search select, 
.form-search .help-inline, .form-search .uneditable-input, 
.form-inline input, .form-inline textarea, .form-inline select, 
.form-inline .help-inline, .form-inline .uneditable-input, 
.form-horizontal input, .form-horizontal textarea, 
.form-horizontal select, .form-horizontal .help-inline, 
.form-horizontal .uneditable-input {
height: 32px;
}

/*Margin top ----------------------------------------------------------------------*/

.box-header .box-icon {
margin-top: -4px;
}


/*Added this to fix new user button in Users view------------------------------*/
.box-header .box-icon a {
margin: 0px 18px;
}

/*Main container ----------------------------------------------------------------*/
.container-fluid {
padding-left: 0px;
padding-right: 0px;
}

.span10 {
width: auto;
}

/* Content ----------------------------------------------------------------*/

#content {
padding: 6px 25px 25px 40px;
}

/*Pages background */
/* Eliminate default black background named dbg----------------*/
body {
	background: url(img/bg.jpg) repeat-y top right, 
				url(img/bg.jpg) repeat top left;
	color: #646464;
	border: none;
}

footer {
position: relative;

/*padding-bottom: 24px;----------------------------------------*/
padding-left: 50px;
padding-right: 50px;

min-height: 24px;
background: url(img/dbg.jpg);
border-top: 1px solid #0a0c0e;
border-bottom: 2px solid #0a0c0e;
text-shadow: 1px 1px 1px #0a0c0e;
color: #A7A7A7;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 -4px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 -4px 0 rgba(0,0,0,.1);
box-shadow: 0 -4px 0 rgba(0,0,0,.1);
}

/* Setting hover color for all hrefs in footer--------------------*/
footer a:hover {
color: #005580;
text-decoration: underline;
}

/*Navbar hover, focus ---------------------------------------------*/
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
background-color: transparent;
color: #005580;
text-decoration: underline;
}

.navbar .nav > li > a {
color: white;
}

/*Fixed menu bar with reduced width to prevent run-off-----------*/
.menu-bar-fixed{
	position:fixed;
	width:93%;
	z-index: 2;
	background: url(img/bg.jpg) repeat-y top right, 
				url(img/bg.jpg) repeat top left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;
	margin-top: -20px;

}

#menu-bar-content{
	position:static;
    margin-bottom:125px;
}

/*Home screen to have the appropriate bottom margin, for it to stay stuck to the bottom of the creen*/

.hero-unit {
margin-bottom: 8.5%;
}


/*Dropdown for number of items to show, for tables*/

label input, label textarea, label select {
display: inline-block;
}

input, textarea, select, .uneditable-input {
padding: 4px 6px;
width: 220px;
}

/*Search input field for users table*/

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: auto;
}

/*Making fonts look like perfectums*/

label, input, button, select, textarea {
font-size: 14px;
font-weight: normal;
line-height: 20px;
}

label {
display: block;
margin-bottom: 5px;
color: #646464;
}

/*Fix containing box dimensions in User Profile*/
.row-fluid .span4 {
width: 31.915%;
padding-top:0px;
padding-left:40px;
}


.box-content {
margin-top: 0px;
}

/*Using headings to represent User attributes in user profile, making adjustments*/
/*---------------must verify font size, names tend to overflow and run to the next line*/

.h1-profile{
text-align: left;
font-size: 39px;
margin-top: 15px;
line-height: 9px;
}

.h1-report{
text-align: left;
font-size: 25px;
margin-top: 15px;
line-height: 9px;

}

.h2-profile {
margin-top: 0px;
text-align: left;
color: #333333;
}


/*Circle statistics for user profiles-----------------------------------------*/

.box-small-title {
margin: 10px 31px;
}

