<footer class="footer">
  <small>
    <a href="http://www.km-7.com/">Kilómetro Siete</a>
    por nanomachine
  </small>
  <nav>
    <ul>
      <li><%= link_to "Ayuda",    ayuda_path %></li>
      <li><%= link_to "Nosotros",   nosotros_path %></li>
      <li><%= link_to "Contacto",   contacto_path %></li>
    </ul>
  </nav>
</footer>