<footer class="footer">
  <small>
    <a href="http://www.km-7.com/">Kilómetro Siete</a>
    por nanomachine
  </small>
  <%= yield :scripts %>
  <nav>
    <ul>
      <li><%= link_to "Help",    ayuda_path %></li>
      <li><%= link_to "About Us",   nosotros_path %></li>
      <li><%= link_to "Contact Us",   contacto_path %></li>
    </ul>
  </nav>
</footer>