<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Kilómetro Siete", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio",    root_path %></li>
          <li><%= link_to "Ayuda",    ayuda_path %></li>
          <li><%= link_to "Iniciar Sesión", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>