
<% if signed_in? %>

<div id="menu-bar-content">	
	<div class="row-fluid menu-bar-fixed fluid-box">
		<a href="/" class="quick-button span2">
			<i class="fa-icon-dashboard"></i>
			<p>Dashboard</p>
		</a>
				
		<a href="/users" class="quick-button span2">
			<i class="fa-icon-group"></i>
			<p>Users</p>
			<span class="notification"><%= User.count %></span>
		</a>
	
		<a href="/reports" class="quick-button span2">
			<i class="fa-icon-eye-open"></i>
			<p>Reports</p>
			<span class="notification green"><%= Problem.count %></span>
		</a>

		<a href="/lists" class="quick-button span2">
			<i class="fa-icon-th-list"></i>
			<p>Lists</p>
			<span class="notification red"><%= List.count %></span>
		</a>
		
		<a class="quick-button span2">
			<i class="fa-icon-globe"></i>
			<p>Map</p>
		</a>

		<a class="quick-button span2">
			<i class="fa-icon-cog"></i>
			<p>Settings</p>
		</a>
		<hr>

	</div>
</div>

<% end %>